a:focus{
	outline: 0;
}

.custom-bg(@img;){
	background-image: url("@{img}");
	background-position: center bottom;
	background-size: cover;	
	height: 540px;
	width: 100%;
	color: white;
	font-family: 'Bree Serif', serif;

	h2{
		text-shadow: 2px 2px black;
		font-size: 40px;
		@media (min-width: @screen-sm-min){
			font-size: 50px;
		}
		@media (min-width: @screen-md-min){
			font-size: 60px;
		}
	}
	.slick-content{
		margin-top: 100px;
		text-align: center;
		p{
			margin-bottom: 30px;
		}
	}

}


.social(@img;){
	background-image: url("@{img}");
	width: 35px;
	height: 35px;
	background-size: 35px 35px;
	background-repeat: no-repeat;
	color: transparent !important;
	display: block;
	opacity: 1;
	transition: opacity 0.3s ease-in-out;
	&:hover, &:focus{
		color: transparent;
		opacity: 0.6;
	}
}

.alah(@bg, @color, @color, @bgh, @colorh, @colorh){
	background-color: @bg;
	border: 2px solid @color;
	color: @color;
	display: inline-block;
	padding: 10px 30px;
	font-size: 20px;
	text-decoration: none;
	transition: all 300ms ease-in-out;

	&:hover{
		background-color: @bgh;
		border: 2px solid @colorh;
		color: @colorh; 
	}
}


