body{
	background: grey;
}

h1,h2,h3,h4{
	font-family: 'Bree Serif', serif;
}



/************************

		HEADER

************************/
.navbar-header{
	width: 100%;
}

.navigation{
	background-color: white;
}

.navbar-brand{
	background: url(../img/logo.png) no-repeat center center;
	color: transparent !important;
	height: 100px;
}

.navigation-menu{
	float: right;
	list-style-type: none;
	li{
		display: block;
		float: left;
		a{
			padding: 0px 15px;
		}
	}
}

/************************

		LANDING

************************/

